<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Best Netflix shows</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <section class="left">
    <h1></h1>
    <h2>Best Netflix shows</h2>
   
    
    <h3>Name your favorite series/movie</h3>
    <form action="/messages" method="POST">
      <input type="text" placeholder="name" name="name">
      <input type="file" placeholder="add pic" name="profile-file" required/>
      <button type="submit">Submit</button>
    </form>
    <ul class="messages">
    <% for(var i=0; i<messages.length; i++) {%>
      <li class="message">
        <a href=""><%= messages[i].name %></a>
        <span><%= messages[i].thumbUp %></span>
        <span><i class="fa fa-apple" aria-hidden="true"></i></span>
        <span><i class="fa fa-trash" aria-hidden="true"></i>
        <img src="img/<%= messages[i].image %>"
      </li>
    <% } %>
    </ul>
    
  </section>

  <section class="right">
    <h2>Comments</h2>
    <form action="/comments" method="POST">
      <input type="text" placeholder="comment" name="comment">
      <button type="submit" class="enter">Enter</button>
    </form>
    
    <ul class="comments">
      <% for(var j=0; j<comments.length; j++) {%>
        <li class="comment">
          <span><%= comments[j].comment %></span>
        </li>
      <% } %>
    </ul>
  </section>





  <script src="main.js"></script>

</body>
</html>
